# =========================
# C build artifacts
# =========================
build/
lib/
*.o
*.a
*.so
*.out

server_app

# =========================
# Docker / misc
# =========================
*.log

# optional: local dev env files
.env

.DS_Store
